<div class="modal-body">
    <button type="button" class="btn-close btn-close-en btn-en-reduced" data-bs-dismiss="modal"
        aria-label="Close"></button>
    <p class="teacher-description">I, Daria Vardanyan. I was born in Toretsk, Donetsk region.</p>
    <p class="teacher-description">In 2010, I started my education at the Donetsk School of Culture, where I specialized
        in directing mass spectacles and celebrations.</p>
    <p class="teacher-description">Later in 2014, I enrolled in the Kyiv Municipal Academy of Circus and Variety Arts,
        where I developed my skills in a variety of art directing. Finally, in 2019, I received my master's degree.</p>
    <p class="teacher-description">Throughout her studies, I was involved in various projects.</p>
    <p class="teacher-description">-The Children's Fashion Theater called "Little Model", where I worked as a teacher of
        acting, fashion shows, and choreography for children.</p>
    <p class="teacher-description">-I was the director, actor, and set designer for the U! ZAHVATI Company where I
        worked on projects such as the promenade performance called "Time" and an interactive fairy tale for children
        named "Gulyandia". </p>
    <p class="teacher-description">-2020, I had the opportunity to work at the Hungarian National Circus in Budapest.
        Currently,</p>
    <p class="teacher-description">-I hold the position of chief director at the children's theater studio called "The
        Theater" since 2020.</p>
</div>
