<div class="modal-body">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <h3 class="teacher-name">Клітинська Ольга</h3>
    <p class="teacher-description">Викладач вокалу, бандуристка, артист хору «Леонтович-капела» у вінницькій обласній
        філармонії , лауреат міжнародних та всеукраїнських конкурсів.</p>
    <p class="teacher-description">Освіта: в 2020 закінчила вінницький коледж культури і мистецтв ім. Леонтовича, по
        класу бандури, зараз закінчую вінницький педагогічний університет
        ім. Коцюбинського за двома спеціальностями 025 музичне мистецтво (академічний вокал), та 014.13 (середня освіта)
        музичне мистецтво</p>
</div>
