<div class="modal-body">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <p class="teacher-description">My name is Vladyslava Khlop'cha, and I was born on February 7th, 2004 in Vinnytsia.</p>
    <p class="teacher-description">I attended Secondary School No. 12, completing 11 grades. In 2010, I began my dancing career, competing in various events, and qualifying for the Ukrainian Hip-Hop Championship.</p>
    <p class="teacher-description">Currently, I am a university student, a member of the Rhythm of the Heart folk group, and a modern choreography teacher at Ilona Dance Studio.</p>
</div>
