<div class="modal-body">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <p class="teacher-description">Я, Хлопʼяча Владислава Анатоліївна, народилася 7 лютого 2004 року в м.Вінниця.</p>
    <p class="teacher-description">Навчалася у загальноосвітній школі 1-3 ступенів номер 12, закінчила 11 класів. У 2010
        році розпочала свій танцювальний шлях, була на різних змаганнях,а також потрапила на чемпіонат України з
        хіп-хопу.</p>
    <p class="teacher-description">На даний час, я навчаюся в університеті, займаюсь у народному колективі «Ритм Серця»,
        викладаю сучасну хореографію у Ilona dance studio.</p>
</div>
