<div class="modal-body">
    <button type="button" class="btn-close btn-reduced" data-bs-dismiss="modal" aria-label="Close"></button>
    <p class="teacher-description">Я, Дарʼя Варданян. Народилася у місті Торецьк Донецької області.</p>
    <p class="teacher-description">У 2010 році почала свою освіту у Донецькому училищі культури за спеціальністю Режисер
        масових видовищ та свят. </p>
    <p class="teacher-description">У 2014 році вступила у Київську Муніципальну Академію естрадного та циркового
        мистецтв на спеціальність Режисер естради.
        У 2019 році отримала ступінь магістра.</p>
    <p class="teacher-description">За час свого навчання працювала у різних проектах:</p>
    <p class="teacher-description">-Дитячий театр моди "Little Model" Педагог акторської майстерності, дефіле та
        хореографії у дітей</p>
    <p class="teacher-description">-Компанія «U!ZAHVATI» Режисер, актор, декоратор. Проекти: вистава-променад «Час»,
        інтерактивна казка для дітей «Гуляндія».</p>
    <p class="teacher-description">-У 2020 році працювала у Венгерському національному цирку у Будапешті.</p>
    <p class="teacher-description">-З 2020 року є головним режисером дитячої театральної студії «The театр»</p>
</div>
