<div class="modal-body">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <h3 class="teacher-name">Свіргун Вероніка Василівна</h3>
    <p class="teacher-description">Режисер першого професійного дитячого театру у місті Вінниця.</p>
    <p class="teacher-description">Народилася в 1990 році у с.Сальник, Калинівського району, Вінницької області.</p>
    <p class="teacher-description">В 2014 році вступила у Одеське театрально-художнє  училище на спеціальність акторське
        мистецтво.</p>
    <p class="teacher-description">-У 2018 році працювала актрисою другої категорії у Вінницькому академічному обласному
        театрі ляльок.</p>
    <p class="teacher-description">-В 2020  році вступила до Київського національного університету театру, кіно і
        телебачення імені І.К.Карпенка-Карого за  спеціальністю - режисер драматичного театру.</p>
</div>
