<div class="modal-body">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <h3 class="teacher-name">Svirhun Veronika Vasylivna</h3>
    <p class="teacher-description">Director of the first professional children's theater in Vinnytsia.</p>
    <p class="teacher-description">I was born in Sal'nyk, Vinnytsia region in 1990. In 2014</p>
    <p class="teacher-description">I enrolled in Odesa Theater and Art School to study acting.</p>
    <p class="teacher-description">-In 2018, I worked as a second-category actress at the Vinnytsia Regional Puppet Theater.</p>
    <p class="teacher-description">- In 2020, I enrolled in Karpenko-Kary National University of Theater, Cinema and Television in Kyiv, majoring in drama theater.</p>
</div>
