<div class="modal-body">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <h3 class="teacher-name">Klitinska Olga</h3>
    <p class="teacher-description">I am a vocal teacher and bandura player. I also perform as an artist with the Leontovych Chapel Choir at the Vinnytsia Regional Philharmonic.</p>
    <p class="teacher-description">I have won both international and national competitions. In terms of education, 
        I graduated from the Leontovych Vinnytsia College of Culture and Arts in 2020, where I studied bandura. 
        Currently, I am finishing my studies at Kotsiubynskyi Vinnytsia Pedagogical University. 
        I am pursuing a double degree in 025 Musical Art (academic vocals) and 014.13 Musical Art (secondary education).</p>
</div>
